@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafaf8;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #f3f4f6;
  }
}
