@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafaf8;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}
